node_modules
.next
.git
.gitignore
.env*.local
.env
Dockerfile
.dockerignore
README.md
.vscode
*.md
*.log
.cache
.turbo
.vercel
.next/cache
.next/server
.next/static
.next/trace
.next/turbo-trace-*.json
.next/turbo-build.log
.next/turbo-build.log.rotated-*.gz
.next/turbo-build.log.rotated-*.log
.next/turbo-build.log.rotated-*.log.gz
.next/turbo-build.log.rotated-*.log.1.gz
.next/turbo-build.log.rotated-*.log.2.gz
.next/turbo-build.log.rotated-*.log.3.gz
.next/turbo-build.log.rotated-*.log.4.gz
.next/turbo-build.log.rotated-*.log.5.gz
.next/turbo-build.log.rotated-*.log.6.gz
.next/turbo-build.log.rotated-*.log.7.gz
.next/turbo-build.log.rotated-*.log.8.gz
.next/turbo-build.log.rotated-*.log.9.gz
